.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color:hsl(220, 25%, 34%,.6) ;
    height: 25%;
    width: 100vw;
    color: white;
    gap: 50px;
}

.carousel-img{
    height: 75%;
    width: 20%;
}


.left-arrow, .right-arrow{
    cursor: pointer;
}